version: "3.8"

services:
  notebook:
    build:
      context: ./jupyter
    container_name: duckdb_notebook
    restart: unless-stopped
    user: "${UID}:${GID}"
    depends_on:
      - minio
      - minio-init
    ports:
      - "8888:8888"
    environment:
      JUPYTER_TOKEN: ${JUPYTER_TOKEN:-duck}

      # Minio
      MINIO_ENDPOINT: ${MINIO_ENDPOINT:-minio:9000}
      MINIO_BUCKET: ${MINIO_BUCKET:-ducklake}
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
      MINIO_URL_STYLE: "path"

      # PostgreSQL metastore
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_PORT: ${POSTGRES_PORT}
    volumes:
      - notebooks:/home/jupyter/work

volumes:
  notebooks:
