version: "3"
services:
  postgres:
    image: "postgres:16.3"
    container_name: "postgres"
    environment:
      - POSTGRES_USER=airflow
      - POSTGRES_PASSWORD=airflow
      - POSTGRES_DB=airflow
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  airflow-initdb:
    build: .
    depends_on:
      - postgres
    environment:
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__LOGGING__BASE_LOG_FOLDER=/usr/local/airflow/logs
      - AIRFLOW__LOGGING__REMOTE_LOGGING=False
    entrypoint: >
      bash -c "airflow db migrate && 
               airflow connections create-default-connections &&
               mkdir -p /usr/local/airflow/logs"

  airflow-webserver:
    build: .
    restart: always
    depends_on:
      - postgres
      - airflow-initdb
    environment:
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__LOGGING__BASE_LOG_FOLDER=/usr/local/airflow/logs
      - AIRFLOW__LOGGING__REMOTE_LOGGING=False
      - AIRFLOW__LOGGING__LOGGING_LEVEL=INFO
      - AIRFLOW__WEBSERVER__EXPOSE_CONFIG=True
    volumes:
      - ./dags:/usr/local/airflow/dags
      - ./logs:/usr/local/airflow/logs  # Важно: монтируем папку с логами
      - ./airflow.cfg:/usr/local/airflow/airflow.cfg  # Монтируем конфиг
    ports:
      - "8082:8080"
    command: >
      bash -c "airflow db init && 
               airflow users create --username admin --password admin --firstname Admin --lastname User --role Admin --email admin@example.com || true &&
               airflow webserver"

  airflow-scheduler:
    build: .
    restart: always
    depends_on:
      - postgres
      - airflow-initdb
    environment:
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__LOGGING__BASE_LOG_FOLDER=/usr/local/airflow/logs
      - AIRFLOW__LOGGING__REMOTE_LOGGING=False
      - AIRFLOW__LOGGING__LOG_LEVEL=INFO
      - AIRFLOW__SCHEDULER__CATCHUP_BY_DEFAULT=False
    volumes:
      - ./dags:/usr/local/airflow/dags
      - ./logs:/usr/local/airflow/logs  # Важно: монтируем папку с логами
      - ./airflow.cfg:/usr/local/airflow/airflow.cfg  # Монтируем конфиг
    command: >
      bash -c "mkdir -p /usr/local/airflow/logs && 
               airflow scheduler"

volumes:
  postgres_data: